#root {
  /* max-width: 99vw; */
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.transparent_button {
  background-color: #ffffff;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 0.5rem; /* rounded */
  padding: 0.4rem 0.9rem;
  cursor: pointer;

  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.1s ease;
}

/* hover state */
.transparent_button:hover {
  border-color: #3b82f6; /* blue-500 */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

/* active (click) state */
.transparent_button:active {
  border-color: #2563eb; /* blue-600 */
  transform: scale(0.97);
}

/* disabled state */
.transparent_button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
